* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(240, 240, 255);
}

.app-container {
    --app-width: 100%;
    position: relative;

    background: white;
    margin: auto;
    width: var(--app-width);
    height: 100%;
}

.scene-container {
    --scene-height: 100%;
    margin: auto;
    width: 100%;
    height: var(--scene-height);
    background-color: beige;
    position: relative;
}

.scene-controller-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ui-container {
    position: absolute;
    padding: 10px;
    top: 0px;
    right: 0px;
    width: 400px;
    height: 100%;
    background-color: orange;
    display: flex;
    flex-direction: column;
}

.element-configuration-container {
    width: 100%;
    height: 400px;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.element-preview {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.element-switcher-container {
    width: 100%;
    position: relative;
    height: 50px;
}

.previous-element-button {
    position: absolute !important;
    left: 0px;
}

.next-element-button {
    position: absolute !important;
    right: 0px;
}
